@import "../fonts/stylesheet.css";
// $color-red: #dc3545;
// $color-orange: #fd7e14;
// $color-yellow: #ffc107;
// $color-green: #198754;
// $color-teal: #20c997;
// $color-indigo: #6610f2;
$color-purple: #4f008c;
$color-light-pink:#f3f3f1;
$color-pink:#EA0033;
$color-white:#ffffff;
$color-black:#1d252d;

$font-light: 'STC Forward Light';
$font-regular: 'STC Forward Regular';
$font-medium: 'STC Forward Medium';
$font-bold: 'STC Forward Bold';