@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import "variables";
.info{
    &__content{
        background-color: $color-purple;
        padding: 2rem;
        border-radius: .5rem;
        @include media-breakpoint-up(lg){
            padding: 3rem 5rem;
        }
    }
    &__title{
        font-family: $font-medium;
        font-size: 2.4rem;
        color: $color-white
    }
    &__desc{
        color: $color-white;
        margin-bottom: 2rem;
        @include media-breakpoint-up(lg){
            margin-bottom: 0;
        }
    }
    &__btn{
        padding: 1.5rem 4rem;
        font-size: 1.6rem;
        @include media-breakpoint-up(lg){
            padding: 1.5rem 8rem;
        }
    }
}